.progress-bar{
    -fx-accent: #43c17a;
}

.table-view .column-header {
    -fx-background-color: orange; /* Use your preferred color */
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff; /* Use your preferred text color */
}

.background {
    background-image: linear-gradient(#43c17a, #0f6e39);
}